$site-background: #1e1e1e;

html {
  background-color: $site-background;
  color: #FFF;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

body {
  text-align: center;
  display: grid;
  grid-template-rows: 80px 1fr;
}

input {
  background: #898989;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  border: 0px;
  padding: 2px;
}

#header > h1,
#header > p {
  margin: 0;
}

#header > p {
  font-weight: normal;
}

.flow-trainer {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr 200px;
  grid-template-areas:
    "l modes r"
    "l timer r"
}

.modes {
  grid-area: modes;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 30px;
}

.mode-select {
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 20px;
}

.custom-mode-input {
  grid-row: 2;
  bottom: 0;
  margin: auto;
}

.time-input {
  grid-area: timer;
  margin: auto;
}

.timer-interface input {
  background-color: rgba(0,0,0,0);
  width: 60px;
  font-size: 50px;
  color: white;
  text-align: right;
  border: none;
}

.time-interval {
  margin-top: 15px;
  font-size: 14px;
}

.time-interval input {
  font-size: 28px;
  width: 40px;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0);
}

input[type='number'] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flow-timer {
  grid-area: timer;
  font-size: 50px;
}

.mode,
.mode:hover {
  padding: 0 4px;
  margin: 0 4px 4px 0;
  overflow-wrap: none;
  cursor: pointer;
  position: relative;
}

.user-mode,
.user-mode:hover {
  padding: 0 16px 0 4px;
}

.mode p {
  text-transform: capitalize;
  margin: 0;
  display: inline;
}

.mode:hover {
  color: #60B0CF;
}

.active-mode {
  border-radius: 4px;
  background-color: #5F87C9;
}

.active-mode:hover {
  color: #1E1E1E;
  border-color: #FFF;
}

.delete-button {
  color: #FFF;
  padding: 0;
  margin: 0 0 0 2px;
  border: 0;
  top: 0;
  position: absolute;
  font-size: 8px;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

.delete-button:hover {
  background-color: #D40000;
  cursor: pointer;
}
