html {
  background-color: #1e1e1e;
  color: #FFF;
  font-family: 'Noto Sans', sans-serif;
  grid-template-rows: 50px, ;
}

body {
  text-align: center;
}

input {
  background: #898989;
  border: 0px;
  padding: 2px;
}

.flow-trainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "l modes r"
    "l timer-setup r"
    "l timer r"
}

.modes {
  grid-area: modes;
  /*display: flex;*/
  overflow: visible;
}

.mode-select {
  display: flex;
}

.time-input {
  grid-area: timer-setup;
}

.flow-timer {
  grid-area: timer;
  font-size: 200%;
}

.mode {
  margin: 2px;
  overflow-wrap: none
}

.mode :hover {
  background-color: #60B0CF;
}

.delete-button {
  color: #FFF;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}